.button {
  font-weight: 600;
  transition: var(--t-normal);

  &:hover {
    background-color: var(--c-black);
    border-color: var(--c-black);
    color: var(--c-white);
  }

  &--white {
    background-color: var(--c-white);
    color: var(--c-black);
    border-color: var(--c-blue);
  }

  &--big {
    padding-left: 40px;
    padding-right: 40px;
  }
}
