:root {
  --c-white: #fff;
  --c-black: #2f281e;
  --c-black-1: #544837;
  --c-primary: #ff9900;
  --c-blue: #bcd0e5;
  --f-base: 'Montserrat', sans-serif;
  --f-poppins: 'Poppins', sans-serif;
  --fs-base: 16px;
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  --h-header: 80px;
  --h-footer: 210px;
}
*::-moz-selection {
  background-color: var(--c-primary);
  color: var(--c-white);
}
*::selection {
  background-color: var(--c-primary);
  color: var(--c-white);
}
body {
  font-family: var(--f-base);
  font-size: var(fs-base);
  min-height: 100vh;
  color: var(--c-black);
  background-color: var(--c-white);
}
h1 {
  font-size: 2.75em;
  cursor: default;
  line-height: 54px;
}
p {
  cursor: default;
}
.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  min-height: var(--h-header);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}
.header-buttons {
  display: flex;
  gap: 30px;
}
.header--white {
  background-color: var(--c-white);
  color: var(--c-black);
  border-color: var(--c-blue);
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-link {
  padding: 10px;
  display: flex;
}
.banner {
  height: calc(100vh - var(--h-header));
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.banner-wrapper {
  display: flex;
  align-items: center;
  gap: 55px;
}
.banner-content {
  width: 100%;
  max-width: 500px;
}
.banner-image-block {
  width: 100%;
  display: flex;
}
.banner-text {
  margin-top: 30px;
  font-size: 1.125em;
  cursor: default;
  line-height: 28px;
}
.banner-button {
  margin-top: 20px;
}
.section-1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 100vh;
}
.section-1-title {
  font-size: 2.25em;
  line-height: 44px;
  text-align: center;
  padding-bottom: 50px;
  cursor: default;
}
.section-1-blocks {
  display: flex;
  gap: 40px;
  align-items: center;
  line-height: 43px;
  padding-bottom: 70px;
}
.section-1-block-title {
  font-size: 1.375em;
  cursor: default;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.section-1-block-item {
  width: 100%;
  max-width: 270px;
}
.section-1-block-text {
  line-height: 26px;
}
.section-1-button {
  margin: 0 auto;
}
.section-2 {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-2-wrapper {
  display: flex;
  align-items: center;
  gap: 110px;
}
.section-2-content {
  width: 100%;
  max-width: 500px;
}
.section-2-image-block {
  width: 100%;
  display: flex;
}
.section-2-content-1 {
  margin-bottom: 40px;
}
.section-2-content-1-title {
  font-size: 1.375em;
  cursor: default;
  line-height: 26px;
  padding-bottom: 20px;
}
.section-2-content-2 {
  display: grid;
  gap: 30px;
}
.section-2-content-2-title {
  padding-bottom: 10px;
}
.section-3 {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-3-wrapper {
  display: flex;
  align-items: center;
  gap: 125px;
}
.section-3-image {
  width: 100%;
  display: flex;
}
.section-3-content-2-image {
  width: 100%;
  max-width: 35px;
  display: flex;
}
.section-3-content {
  width: 100%;
  max-width: 500px;
}
.section-3-conten-1-text {
  margin-bottom: 40px;
}
.section-3-content-1-title {
  font-size: 1.375em;
  cursor: default;
  line-height: 26px;
  padding-bottom: 20px;
}
.section-3-3-content-2-blocks {
  display: grid;
  gap: 30px;
}
.section-3-content-2-block-item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.section-4 {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-4-wrapper {
  display: flex;
  align-items: center;
  gap: 170px;
}
.section-4-content {
  width: 100%;
  max-width: 500px;
}
.section-4-image-block {
  width: 100%;
  display: flex;
}
.section-4-content-1 {
  margin-bottom: 40px;
}
.section-4-content-1-title {
  font-size: 1.375em;
  cursor: default;
  line-height: 26px;
  padding-bottom: 20px;
}
.section-4-content-2 {
  display: grid;
  gap: 30px;
}
.section-4-content-2-title {
  padding-bottom: 10px;
}
.footer {
  display: flex;
  align-items: center;
  min-height: var(--h-footer);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: var(--h-footer);
}
.footer-logo {
  max-width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: 100%;
}
.footer-form-title {
  padding-bottom: 25px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
}
.footer-button {
  max-width: 200px;
}
.footer-form-title {
  font-size: 1.25em;
}
.navigation-footer-title {
  padding-bottom: 30px;
}
.navigation-footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navigation-footer-title {
  font-size: 1.25em;
}
.navigation-footer-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  max-width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: 100%;
}
.link {
  transition: var(--t-normal);
  color: var(--c-black);
}
.link:hover {
  color: var(--c-primary);
}
.button {
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--c-primary);
  color: var(--c-white);
  border: 1px solid var(--c-primary);
  cursor: pointer;
  font-weight: 600;
  transition: var(--t-normal);
}
.button:hover {
  background-color: var(--c-black);
  border-color: var(--c-black);
  color: var(--c-white);
}
.button--white {
  background-color: var(--c-white);
  color: var(--c-black);
  border-color: var(--c-blue);
}
.button--big {
  padding-left: 40px;
  padding-right: 40px;
}
.icons {
  max-width: 50px;
  display: flex;
} /*# sourceMappingURL=index.css.map */
