.footer {
  width: 100%;
  min-height: var(--h-footer);
  background-color: var(--c-dark-blue);
  display: flex;
  align-items: center;
  margin-top: 100px;

  &-logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-title {
    color: var(--c-white);
    font-family: var(--f-logo);
    font-size: 2.188em;
    line-height: 35px;
  }

  &-icon-block {
    display: flex;
    gap: 10px;
  }

  &-icon-block-item {
    width: 38px;
    height: 38px;
    background-color: var(--c-silver-2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    transition: color 0.35s linear;
  }

  &-icon-block-item:hover {
    color: var(--c-green);
  }
}
