.footer {
  display: flex;
  align-items: center;
  min-height: var(--h-footer);

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: var(--h-footer);
  }

  &-logo {
    max-width: 200px;
    height: fit-content;
    display: flex;
    width: 100%;
  }
}

.footer

/* logo */
.footer

/* Navigation */

.navigation-footer-title {
  padding-bottom: 30px;
}

.navigation-footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form-title {
  padding-bottom: 25px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
}

.footer-button {
  max-width: 200px;
}

.navigation-footer-title,
.footer-form-title {
  font-size: 1.25em;
}

.navigation-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
