.navigation-list {
  display: flex;
  align-items: center;

  &-link {
    padding: 10px;
    display: flex;
  }

  &-footer-title {
    padding-bottom: 30px;
  }

  &-footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-footer-title {
  }
}
