.section-3 {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 125px;
  }
}

.section-3 .section-3-image {
  width: 100%;
  display: flex;
}

.section-3-content-2-image {
  width: 100%;
  max-width: 35px;
  display: flex;
}

.section-3-content {
  width: 100%;
  max-width: 500px;
}

.section-3-content-2-block-item {
  display: flex;
  align-items: center;
  gap: 30px;
}
