.section-4 {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-4-wrapper {
  display: flex;
  align-items: center;
  gap: 170px;
}

.section-4-content {
  width: 100%;
  max-width: 500px;
}

.section-4-image-block {
  width: 100%;
  display: flex;
}
