.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* Header */

.header {
  min-height: var(--h-header);
  width: 100%;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-logo {
  width: 30px;
  height: 30px;
  color: var(--c-green);
  display: flex;
}

.header-title {
  font-family: var(--f-logo);
  font-size: 2.188em;
  line-height: 35px;
}

/* Content blocks */

.content {
  margin-top: 100px;
}

.content-blocks {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content-blocks-item {
  padding: 40px;
}

.icon-content {
  width: 64px;
  height: 64px;
}

.content-blocks-item-text {
  font-family: var(--f-text: "Roboto", sans-serif);
  margin-top: 30px;
}

.content-blocks-item-title {
  font-size: 1.5em;
}

.content-blocks-link {
  color: var(--c-green);
  /* margin-top: 30px; */
}
