.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header {
  min-height: var(--h-header);
  width: 100%;
}

.header-wrapper {
  display: flex;
}

.icon-logo {
  width: 30px;
  height: 30px;
  color: var(--c-green);
}

.header-title {
  font-family: var(--f-logo);
  font-size: 35px;
  line-height: ;
}
