.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* Header */

.header {
  min-height: var(--h-header);
  width: 100%;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-logo {
  width: 30px;
  height: 30px;
  color: var(--c-green);
  display: flex;
}

.header-title {
  font-family: var(--f-logo);
  font-size: 2.188em;
  line-height: 35px;
}

/* Content blocks */

.content {
  margin-top: 100px;
  font-family: var(--f-text);
}

.content-title {
  font-size: 2.5em;
  line-height: 52px;
  font-family: var(--f-h1);
  margin-top: 15px;
}

.content-blocks {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.content-blocks-item {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.icon-content {
  width: 64px;
  height: 64px;
}

.content-blocks-item-text {
  font-family: var(--f-text);
}

.content-blocks-item-title {
  font-size: 1.5em;
  line-height: 21px;
  margin-bottom: 15px;
}

.content-blocks-link {
  color: var(--c-green);
}

/* Footer */
.footer {
  width: 100%;
  min-height: var(--h-footer);
  background-color: var(--c-dark-blue);
  display: flex;
  align-items: center;
}

.footer-content {
}

.footer-icon-block {
  display: flex;
  gap: 10px;
}

.footer-icon-block-item {
  width: 38px;
  height: 38px;
  background-color: var(--c-silver-2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
