:root {
  /* Color */
  --c-green: #3db370;
  --c-dark-blue: #16133d;
  --c-silver: #e5eaf4;
  --c-silver-2: #efeef3;
  --c-white: #ffffff;
  /* Fonts */
  --f-h1: "Nunito Sans", sans-serif;
  --f-text: "Roboto", sans-serif;
  --f-logo: "Quicksand", sans-serif;
  /* Height */
  --h-header: 80px;
  --h-footer: 210px;
}
