mixin navigation
  nav.navigation
    ul.navigation-list 
      +navigation-item ('#', 'Product')
      +navigation-item ('#', 'Customers')
      +navigation-item ('#', 'Pricing')
      +navigation-item ('#', 'Recources')
