mixin section-3
  section.section-3 
    .wrapper.section-3-wrapper
      .section-3-image
        img(src="./assets/section-3.svg", alt="section-3-image")
      .section-3-content
        .section-3-content-1
          .section-3-conten-1-text
            p Easier decision making for
            h2.section-3-content-1-title Product Managers
            p The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
          .section-3-content-2-blocks
            .section-3-content-2-block-item
              img.section-3-content-2-image(src="./assets/section-icon.svg", alt="check mark")
              p.section-3-content-2-block-text Never worry about overpaying for your energy bill again.
            .section-3-content-2-block-item
              img.section-3-content-2-image(src="./assets/section-icon.svg", alt="check mark")
              p.section-3-content-2-block-text We will only switch you to energy companies that we trust and will treat you right.
            .section-3-content-2-block-item
              img.section-3-content-2-image(src="./assets/section-icon.svg", alt="check mark")
              p.section-3-content-2-block-text We track the markets daily and know where the savings are.