mixin section-4
  section.section-4 
    .wrapper.section-4-wrapper
      .section-4-content
        .section-4-content-1
          p Optimisation for
          h2.section-4-content-1-title Marketers
          p Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
        .section-4-content-2
          div 
            h5.section-4-content-2-title Accessory makers
            p While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
          div 
            h5.section-4-content-2-title Alterationists
            p If you are looking for a new way to promote your business that won’t cost you more money,
          div 
            h5.section-4-content-2-title Custom Design designers
            p If you are looking for a new way to promote your business that won’t cost you more money,
      .section-4-image-block
        img(src="./assets/section-4.svg", alt="section-4-image")