mixin section-2
  section.section-2 
    .wrapper.section-2-wrapper
      .section-2-content
        .section-2-content-1
          p Effortless Validation for
          h2.section-2-content-1-title Design Professionals
          p The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
        .section-2-content-2
          div
            h5.section-2-content-2-title Accessory makers
            p While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
          div
            h5.section-2-content-2-title Alterationists
            p If you are looking for a new way to promote your business that won’t cost you more money,
          div
            h5.section-2-content-2-title Custom Design designers
            p If you are looking for a new way to promote your business that won’t cost you more money,
      .section-2-image-block
        img(src="./assets/section-2.svg", alt="section-2-image")
