.content {
  margin-top: 100px;
  font-family: var(--f-text);
  height: 100vh;
  display: flex;
  align-items: center;

  &-title {
    font-size: 2.5em;
    line-height: 52px;
    font-family: var(--f-h1);
    margin-top: 15px;
  }

  &-blocks {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
  }

  &-blocks-item {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    border: 1px solid var(--c-silver);
    border-radius: 8px;
    transition: border-color 0.35s linear;
  }

  &-blocks-item:hover {
    border-color: var(--c-green);
  }
}
