mixin footer 
  footer.footer 
    .wrapper.footer-wrapper
      +footer-logo 
      nav.navigation-footer
        h4.navigation-footer-title Quick Links
        ul.navigation-footer-list
          li.navigation-footer-item
            a(href="#") About Us
          li.navigation-footer-item
            a(href="#") Blog
          li.navigation-footer-item
            a(href="#") Contact
          li.navigation-footer-item
            a(href="#") FAQ
      nav.navigation-footer
        h4.navigation-footer-title Legal Stuff
        ul.navigation-footer-list
          li.navigation-footer-item
            a(href="#") Disclaimer
          li.navigation-footer-item
            a(href="#") Financing
          li.navigation-footer-item
            a(href="#") Privacy Policy
          li.navigation-footer-item
            a(href="#") Terms of Service
      .footer-form
        h4.footer-form-title Knowing you're always on the best energy deal.
        +form
        +button('Sign up Now', 'button', 'button--big footer-button')
