mixin header
  header.header
    .wrapper.header-wrapper
      +header-logo
      +navigation 
      .header-buttons
        +button('Sign In', 'button', 'button button--white')
        +button('Sign Up', 'button', 'classes')









