.navigation-footer {
  &-title {
    padding-bottom: 30px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-title {
    font-size: 1.25em;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
